name: Deploy TFGfinder

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.DROPLET_IP }}
          username: ${{ secrets.DROPLET_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # Definir carpeta de trabajo en el home de root
            PROJECT_PATH="/root/TFGfinder"

            if [ ! -d "$PROJECT_PATH" ]; then
              git clone https://github.com/paccco/TFGfinder.git "$PROJECT_PATH"
            fi

            cd "$PROJECT_PATH"
            git pull origin main

            # Entrar en la carpeta del proyecto y reiniciar contenedores
            cd proyecto
            docker compose down
            docker compose up -d --build
